<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "org.shiro.maven.mapper.SysPermissionMapper">

    <select id="findById" resultType="org.shiro.maven.po.SysPermission">
        SELECT
	        sp.*
        FROM
            sys_permission sp
        RIGHT JOIN sys_role_permission srp ON sp.id = srp.sys_permission_id
        AND srp.sys_role_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>




</mapper>